{
    "presets": [
        ["env", {
            "debug": false,
            "useBuiltIns": true
        }],
        "stage-2"
    ],
    "comments": false,
    "env": {
        "test": {
            "presets": [
                ["env", {
                    "debug": false,
                    "useBuiltIns": true
                }],
                "stage-2"
            ],
        },
        "jest": {
            "presets": [
                ["env", {
                    "debug": false,
                    "useBuiltIns": true
                }],
                "stage-2"
            ],
            "plugins": [
                [
                    "require-context-hook"
                ]
            ]
        }
    }
}
