.wizard-step-download-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wizard-step__description {
    margin-left: $buildingUnit;
    margin-right: $buildingUnit;
    margin-bottom: $buildingUnit * 2;
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;

    @include min-tablet() {
        flex-basis: 50%;
        max-width: 50%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: $buildingUnit * 3;
    }
}

.wizard-step__items {
    @extend %reset-list;
}

.wizard-step-download-list__item {
    display: flex;

    & + & {
        margin-top: $buildingUnit;

        @include min-tablet() {
            margin-top: 0;
            margin-left: $buildingUnit;
        }
    }

    @include min-tablet() {
        flex-direction: row;
    }
}

.wizard-step__button {
    margin-top: $buildingUnit * 5;
    margin-bottom: 0;
}
